/*  2dm.css  */

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
#image{
  width:200px;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  
}
.pic{
  width:25%;
  border : 1px solid black;
  overflow : hidden;
  border: 1px solid black;
}
.pic img{ width:100%;}