/* default.css */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#wrap{
  width:100%;
  /* height:100vh; */
  background: black;
  color :#eee;
  position:relative; 
}

#header{
  width:200px;
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  background:#272731;
}
#nav{
  width:100%;
  padding:20px 7px;
}
.title{
  text-align: center;
}
.menuWrap{
  width:100%;
  padding:30px 0;
}
.menu{
  display:block;
  padding:10px 0;
  cursor: pointer;
}

.menuWrap .menu:first-child{
  position:relative;
  text-align: center;
  background:#000;
  margin:15px;
  border-radius: 5px;
  position:relative;
  overflow:hidden;
  padding:3px;
}

.menuWrap .menu:first-child::before{
  content:"";
  background:linear-gradient(120deg,#4fcf70,#fad648,#a767e5,#47C83E,#0054FF,#003399,#8041D9);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}
.menuWrap .menu:first-child span{
  z-index: 100;
  position:relative;
  background:#000;
  display: block;
  padding:10px 0;
  border-radius: 6px;
}

#main{
  margin-left:200px;
  padding:100px 80px;
  position:relative;
}
.siteDetail{
  width:900px;
  position:relative;
  top:0;
  left:0;
}
.siteDetail h2{
  width:50%;
  font-size:30px;
}
.siteDetail h4{
  width:50%;
  padding:20px 0;
  line-height: 40px;
  /* font-size: */
}
.siteDetail img{
  position:absolute;
  top:0; right:0;
  width: 400px;
}
.siteUse{
  width:900px;
  position:relative;
  top:0; left:0;
}
.button{
  margin:100px 0;
  padding-left:50px;
}
.freeSign, .devTool{
  display:inline-block;
  cursor:pointer;
  font-size:20px;
  padding:10px 20px;
}
.freeSign{
  background:#47c83e;
  border-radius: 5px;
}
.freeSign:hover{
  background:#1f5e1a;
}
.devTool{
  margin-left:20px;
  background:rgb(69, 69, 179);
  border-radius: 5px;
}
.devTool:hover{
  background:rgb(17, 17, 226);
}
.card{
  padding:50px;
  width:900px;
}
.build, .learn{
  display:inline-block;
  width:350px; 
  background-color: #272731;
  padding: 20px;
  border-radius:10px;
}
.learn{
  margin-left:50px;
}
 .build img, .learn img{
  width:100%;
  border-radius: 10px;
}
/* .build h3, .learn h3{
  font-size:25px;
  padding-bottom:15px;
} */
#footer{
    margin-left:200px;
    background:#525264;
    padding:50px 100px;
    line-height:35px;
}