body{
  margin:0;
}

#wrap{
  width:1000px;
  margin:0 auto;
  position:relative;
}

#header{
  width:100%;
  padding:20px 0;
}
.logoWrap{ width:100px; height:50px;}
.menuWrap{
  position:absolute;
  left:120px;
  top:0;
}

.nav{
  position:relative;
  line-height:90px;
}
/*
  line-height
  한줄의 높이를 설정,
  설정 된 높이에 안에 텍스트가있다면
  텍스트의 높이를 고려하여 위아래 여백을
  씌워준다.  

*/

.menu{
  width:150px; 
   position:absolute;
}
.nav .menu:nth-child(2){
  left:150px;
}
.nav .menu:nth-child(3){
  left:300px;
}
.nav .menu:nth-child(4){
  left:450px;
}
.nav .menu:nth-child(5){
  left:600px;
}
#main{
  position:relative;
  width:100%;
}
.imgBox1{
  margin: 0;
}
.imgBox2{
  margin: 0;
  position:relative;
  left:300px;
  bottom: 200px;
}
.imgBox3{
  position:relative;
  bottom:200px;
}
.imgBox4{
  position:relative;
  bottom:200px;
}
.imgBox5{
  position:relative;
  bottom:400px;
  left:300px;
}
.imgBox6{
  position:relative;
  bottom:600px;
  left:600px;
}
/* .imgBox1{
  margin: 0 auto;
}
.imgBox2{
  position:absolute;
  left : 350px;
  bottom : 100px;
}
.imgBox3{
  position:absolute;
  top : 300px;
}
.imgBox4{
  position:absolute;
  top : 510px;
}
.imgBox5{
  position:absolute;
  top : 510px;
  left : 350px;
}
.imgBox6{
  position:absolute;
  top : 510px;
  left : 700px;
} */



/* 
동일한 태그명을 가진 하위 태그를 선택하는방법
.nav .menu:nth-child(3)

nth-child() 가상선택자

*/