#wrap tr td{
  border:3px solid black;
}
body{
  margin:0;
}
#wrap{
  border-collapse: collapse;
  width:1000px;
}

#top{
  width:100%;
}
#top table{
  float:right;
}
#header table{
  width:600px;
  margin:0 auto;
}
#header table tr td{
  border:0;
}
#side{
  width:300px;
  height:400px;
}
#mainImg{
  width:700px;
}